<h1>Songs</h1>
<ul>
  <% @songs.each do |song| %>
    <li>
      <%= link_to songs.title, song_path(song) %>
      (<%= song.artist_name %> <%= "song".pluralize(song.artist_name) %>)
    </li>
  <% end %>
</ul>
